*, *:before, *:after {
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
}

body {
	background-color: black; /* white, #FFFFFF */
	padding: 2em;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	color: white;
}

p {
	margin: 0 0 1em 0;
	max-width: 35em;
}

h1 {
	margin: 0;
	font-size: 	5em;
}

h4 {
	margin: 0;
}

iframe {
	margin: 0;
	display: block;
	border: none;
	width: 100%;
}

.img-2 {
	display: flex;
}

header,
section {
	display: grid;
	grid-template-columns: 1fr 4fr;
	margin-bottom: 2em;
	padding-top: 0.25em;
}



.filetto {
	border-top: solid 1px white;
	padding-top:0.5em;
}

.titolo-sezione {
	margin-right: 1em;
}

.contenitore {
	/* max-width: 54em; */
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: underline;
	color:white;
}

a:hover {
	color: grey;
}

.top {
	--offset: 50px; 
  
	position: sticky;
	bottom: 1em;      
	text-align: right;
	place-self: end;
	margin-top: calc(100vh + var(--offset));
  
	/* visual styling */
	text-decoration: none;
	white-space: nowrap;
  }

.sitografia a{
	text-decoration: none;
}

.index {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-top: 5em;	
}

.index a {
	text-decoration: none;
}

/* -- breakpoint: schermi piccoli, larghezza massima 500 pixel -- */

@media only screen and (max-width: 600px) {
	header,
	section {
		grid-template-columns: 1fr;
	}
	.contenitore {
		width:100%;
	}
	.contenuto-sezione {
		width: 100%;
	}
	.titolo-sezione {
		width: 100%;
	}
	img {
		width: 100%;
	}
}